<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>aewaew</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Melhores do mundo</h1>
        <div class="form-group col-md-4">
          <label for="sel1">Lista de jogadores:</label>
          <select class="form-control" id="sel1">    
                {% for i in data %}          
                <option value="{{i.id}}">{{ i.name }} - {{i.time}}</option>              
                {% endfor %}
          </select>
        </div>
    </div>
</body>
</html>